<header>

  <img src="assets/img/dener.jpg" alt="Gabriel - foto de perfil" width="130px" height="130px" loading="eager" />


  <h1>Gabriel Raiol Rodrigues</h1>

</header>

<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | NodeJs | NextJs</p>
    <p>Belém, Pará, Brasil</p>
    <p>
      Estou na área de desenvolvimento de software. Resolvi abraçar a stack JS pois atuo no Frontend / Backend.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">Download CV</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/gabriel-raiol/" target="_blank" class="btn btn-secondary">
            Open linkedIn</a>
        </li>
      </ul>

    </nav>

    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg" alt="icone para o contato do whatsapp" width="22px" height="24px" />
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5591983734339&text=Ol%C3%A1%20Gabriel,%20preciso%20de%20um%20job!"
            target="_blank">
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (91) 983734339</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img src="assets/icons/mail.svg" alt="icone para o contato do whatsapp" width="22px" height="24px" />
        <figcaption>
          <a href="mailto:gabrielraiolr@gmail.com" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>gabrielraiolr&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>

  </div>
</aside>